<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
       <div class="container">
           <div class="row">
               <div class="col-md-12 text-center">
                   <h1>
                        10 Offres d'emploi pour Bordeaux à ne pas manquer
                   </h1>
               </div>
               <div class="col-md-12">
                   <ul class="list-group">
                        {% for key, content in propositions %}
                            <li class="list-group-item"><h2 class="h4">Intitulé du poste : {{ content.name }}<span class="font-weight-bold">({{ content.type }})</span></h2>
                                <h3 class="h5">Description</h3>
                                <p>{{ content.description }}</p>
                                <h3 class="h5">Lieu</h3>
                                <p>{{ content.location }}</p>
                                <h3 class="h5">Entreprise</h3>
                                <p>{{ content.enterprise }}</p>
                            </li>
                        {% endfor %}
                  </ul>
               </div>
           </div>
       </div>
    </body>
</html>
